<p>User info:</p>

<p> First name: {{gatheredUserInfo?.firstName}}
  <button
    (click)="editField('firstName')"
  >
  Edit this field
  </button>
</p>
<input type="text" #testowyInput > <button
  (click)="updateSpecificField(testowyInput.value)"> zrob to
</button>

<br>
<button
  type="button"
  mat-raised-button
  color="secondary"
  (click)="fillDefault()"
  >
  Fill required fields
</button>

<form
  [formGroup]="userFormGroup"
  (ngSubmit)="onSubmit()"
>

  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="firstName"
      required
      placeholder="first name"
    >
    <mat-error *ngIf="userFormGroup.get('firstName').hasError('required')">
      First name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      matInput
      color
      formControlName="lastName"
      required
      placeholder="last name"
    >
    <mat-error *ngIf="userFormGroup.get('lastName').hasError('required')">
      Last name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      type="email"
      matInput
      formControlName="email"
      required
      placeholder="email"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      type="number"
      matInput
      formControlName="phone"
      required
      placeholder="phone"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="hobby"
      placeholder="hobby"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      type="text"
      matInput
      formControlName="bestFriendName"
      placeholder="best friend name"
    >
  </mat-form-field>

  <mat-form-field>
    <input
      type="date"
      matInput
      formControlName="dateOfBirth"
      placeholder="date of birth"
    >
  </mat-form-field>

 <div
  formArrayName="skills">

  <div *ngFor="let skill of skills.controls; let i = index">
    <mat-form-field>
      <input
      type="text"
      matInput
      placeholder="skill {{i + 1}}"
      [formControlName]="i"
      >

    </mat-form-field>
  </div>

  <button
    (click)="addSkills()"
    type="button"
    mat-raised-button
    color="primary">
      Add skill
  </button>
  <button
    (click)="removeSkills()"
    type="button"
    mat-raised-button
    color="primary">
      Remove skills
  </button>
 </div>

  <button
    type="submit"
    mat-raised-button
    color="secondary"
    [disabled]="userFormGroup.invalid"
  >
    SUBMIT FORM
  </button>


</form>
